.hero.tools {
  background-image: none;
  padding-bottom: 0;

  .side-nav {
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-top: 3rem;

    ul {
      order: 2;
      align-self: center;
      margin: 2rem auto;
      padding-left: 0;

      a {
        font-size: 1rem;
        color: black;
        text-transform: capitalize;
        font-family: $font-family-headers;
        font-weight: 300;
        line-height: 2;
      }

      li {
        a {
          color: #999;
        }
      }

      li:hover {
        a {
          font-weight: 700;
          color: black;
        }
      }

      .side-nav-dropdown {
        .side-nav-dropdown-li {
          a {
            font-weight: 700;
            color: black;
          }

          .active-line {
            border-bottom: 0.5px solid black;
            width: 40px;
            margin: 0.5rem auto;
          }

          .dropdown-nav {
            display: none;

            a {
              font-weight: 300;
              color: black;
            }

            a:hover {
              font-weight: 400;
            }
          }
        }

        .side-nav-dropdown-li:hover {
          .dropdown-nav {
            display: block;
          }
        }
      }
    }

    img {
      width: 100%;
    }

    .side-nav--header {
      position: relative;

      &--title {
        position: absolute;
        text-align: left;
        right: 0.5rem;
        bottom: 40%;
        color: white;
        text-transform: uppercase;

        h1 {
          font-size: $h3-font_size;
        }
      }
    }
  }
}

.section03.tools {
  border-top: 0.5px solid #999;
}

.hero.tools.value,
.hero.tools.award {
  .side-nav {
    ul {
      .side-nav-dropdown {
        &-li {
          a {
            @include side_nav_no_hover;
          }

          .dropdown-nav {
            ul {
              margin-left: 0;
              width: auto;

              a {
                @include side_nav_no_hover;
              }

              a:hover {
                color: black;
              }
            }
          }
        }

        &-li:hover {
          a {
            @include side_nav_hover;
          }
        }
      }

      .live {
        a {
          @include side_nav_hover;
        }
      }

      .active-line {
        border-bottom: 0.5px solid black;
        width: 40px;
        margin: 0.5rem auto;
      }
    }
  }
}

.section03.in_value.get_award {
  padding-bottom: 1.5rem;
}

.award_articles {
  margin-bottom: 3rem;

  .grid_articles.in_award {
    .grid_articles_large.award_large {
      background-image: url('src/images/pointsproimg.jpg');
      padding-top: 5rem;

      h4 {
        font-size: 1.2rem;
      }
    }

    .grid_articles_large.award_large.lucky {
      background-image: url('src/images/luckyimg.jpg');
    }
  }
}
